@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
}

#slide {
    width: 1200px; /* 슬라이드 영역의 가로 크기 조정 */
    height: 300px; /* 슬라이드 영역의 세로 크기 조정 */
    overflow: hidden;
    background-color: burlywood;
}

#slider{
    width: 3600px; /* 이미지 전체 너비 */
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide-image {
    width: 1200px; /* 개별 이미지의 너비 */
    height: 300px; /* 개별 이미지의 높이 */
    display: block;
}