<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.MemberMapper">
	<insert id="insertMember">
	insert into tbl_member (user_id, user_name, user_pw, location, gender) 
	values (#{user_id},#{user_name},#{user_pw},#{location},#{gender})
	</insert>
	
	<select id="selectMemberByUserid" resultType="com.spring.domain.MemberVO">
		select * from tbl_member where user_id = #{user_id}
	</select>
	
	<delete id="deleteMember">
		delete from tbl_member where user_id = ${user_id}
	</delete>
</mapper>